
@{
    ViewData["Title"] = "Details";
}
@model MovieDetailsViewModel

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card-header">
            <h1>@Model.Movie.Title</h1>
        </div>
        <div class="card-body text-center">
            <img class="card-img-top " src="~/img/noimage.png" asp-append-version="true"/>
            <h4>Movie ID: @Model.Movie.Id</h4>
            <h4>Title: @Model.Movie.Title</h4>
            <h4>Plot: @Model.Movie.Plot</h4>
            <h4>Genre: @Model.Movie.Genre</h4>
            <h4>Website: <a href="@Model.Movie.Website">@Model.Movie.Website</a></h4>
        </div>
        <div class="card-footer text-center">
            <a asp-controller="Movie" asp-action="Index" class="btn btn-primary m-1">Back</a>
            <a href="#" class="btn btn-primary m-1">Edit</a>
            <a href="#" class="btn btn-danger m-1">Delete</a>
        </div>
    </div>
</div>


