@model MovieDetailsViewModel
@{
    ViewData["Title"] = Model.PageTitle;
}
@using System.Globalization

<form asp-action="Search" asp-controller="Movie" method="post">
    <div class="input-group mb-3">
        <input type="text" name="SearchQuery" class="form-control" placeholder="Search for movie..."/>
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </div>
    </div>
</form>

<div class="row m-4">
    <div class="col-md-3">
        <img class="card-img-top border-0 rounded-0 shadow-lg" src="@Model.Movie.PosterPath" asp-append-version="true" />
    </div>
    <div class="col mb-4">
        <h2>@Model.Movie.Title <span class="small text-muted">(@Model.Movie.ReleaseDate?.ToString("dd-MM-yyyy"))</span></h2>
        <h5>Overview</h5>
        <p>@Model.Movie.Overview</p>
        @*<h5>Featured Crew</h5>*@
    </div>
</div>
<hr />
<div class="row m-4">
    <div class="col-9">
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h5">Cast</span>
        </nav>
        <div class="card-deck mt-3">
            @foreach (var item in @Model.Movie.People)
            {
                if (item.Order < 5)
                {
                    <div class="card m-1 border-0 rounded-0 shadow-lg">
                        <img src="@item.ProfilePath" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">@item.Name</h6>
                            <small class="card-text">@item.Character</small>
                        </div>
                    </div>
                }
            }
        </div>

        <hr />

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-reviews" role="tab" aria-controls="nav-reviews" aria-selected="true">Reviews</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-discussions" role="tab" aria-controls="nav-discussions" aria-selected="false">Discussions</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-reviews" role="tabpanel" aria-labelledby="nav-reviews-tab">

                @foreach (var review in @Model.Reviews)
                {
                <div class="card m-3">
                    <div class="card-body">
                        <h5 class="card-title">@review.Author</h5>
                        <p class="card-text">@review.Content</p>
                    </div>
                </div>
                }
            </div>
            <div class="tab-pane fade" id="nav-discussions" role="tabpanel" aria-labelledby="nav-discussions-tab">No discussions</div>
        </div>

        <hr/>

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-mostpopular-tab" data-toggle="tab" href="#nav-mostpopular" role="tab" aria-controls="nav-mostpopular" aria-selected="true">Most Popular</a>
                <a class="nav-item nav-link" id="nav-videos-tab" data-toggle="tab" href="#nav-videos" role="tab" aria-controls="nav-videos" aria-selected="false">Videos</a>
                <a class="nav-item nav-link" id="nav-backdrops-tab" data-toggle="tab" href="#nav-backdrops" role="tab" aria-controls="nav-backdrops" aria-selected="false">Backdrops</a>
                <a class="nav-item nav-link" id="nav-posters-tab" data-toggle="tab" href="#nav-posters" role="tab" aria-controls="nav-posters" aria-selected="false">Posters</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-mostpopular" role="tabpanel" aria-labelledby="nav-home-tab"></div>
            <div class="tab-pane fade col-12" id="nav-videos" role="tabpanel" aria-labelledby="nav-videos-tab">
                <div class="container-fluid">
                    <div class="row flex-row flex-nowrap" style="overflow-y: hidden;
                                      overflow-x: scroll;
                                      width: 100%;">
                        @foreach (var video in @Model.Videos)
                        {
                            <div class="m-1">
                                <iframe class="card card-block" style="width: 340px;" src="@video.Key"></iframe>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-backdrops" role="tabpanel" aria-labelledby="nav-backdrops-tab">
                <div class="container-fluid">
                    <div class="row flex-row flex-nowrap" style="overflow-y: hidden;overflow-x: scroll; width: 100%;">
                        @foreach (var backdrop in @Model.Backdrops)
                        {
                            <div class="m-1">
                                <img src="@backdrop.Path"/>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-posters" role="tabpanel" aria-labelledby="nav-posters-tab">
                <div class="container-fluid">
                    <div class="row flex-row flex-nowrap" style="overflow-y: hidden;overflow-x: scroll; width: 100%;">
                        @foreach (var poster in @Model.Posters)
                        {
                            <div class="col-3">
                                <img  src="@poster.Path" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <form enctype="multipart/form-data" method="post" asp-controller="Movie" asp-action="Details">
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary" asp-route-id="@Model.Movie.Id" data-toggle="modal" data-target="#loading" id="update">Update</button>
                    <a asp-controller="Movie" asp-action="Index" class="btn btn-secondary">Back</a>
                </div>
            </div>

        </form>
    </div>
    <div class="col col-lg-3">
        <h6>Status</h6>
        <p>@Model.Movie.Status</p>
        <h6>Release Information</h6>
        <p>@Model.Movie.ReleaseDate?.ToString("dd-MM-yyyy")</p>
        <h6>Runtime</h6>
        <p>@Model.RuntimeTimeFormat</p>
        <h6>Budget</h6>
        <p>@Model.Movie.Budget?.ToString("C0", CultureInfo.CreateSpecificCulture("en-US"))</p>
        <h6>Revenue</h6>
        <p>@Model.Movie.Revenue?.ToString("C0", CultureInfo.CreateSpecificCulture("en-US"))</p>
        <h6>Genres</h6>
        @foreach (var item in @Model.Movie.Genre)
        {
            <button class="btn btn-outline-secondary m-1">@item.Name</button>
        }
        <h6>Website</h6>
        <p><a href="@Model.Movie.Website">@Model.Movie.Website</a></p>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="loading" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="d-flex justify-content-center m-5">
                <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>