@model MovieDetailsViewModel
@{
    ViewData["Title"] = Model.PageTitle;
}
@using System.Globalization


<div class="row m-4">
    <div class="col-md-3">
        <img class="card-img-top " src="@Model.Movie.PosterPath" asp-append-version="true" />
    </div>
    <div class="col mb-4">
        <h2>@Model.Movie.Title <span class="small text-muted">(@Model.Movie.ReleaseDate?.ToString("dd-MM-yyyy"))</span></h2>
        <h5>Overview</h5>
        <p>@Model.Movie.Overview</p>
        @*<h5>Featured Crew</h5>*@
    </div>
</div>
<hr />
<div class="row m-4">
    <div class="col">
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h5">Cast</span>
        </nav>
        <div class="card-deck mt-3">
            @foreach (var item in @Model.Movie.People)
            {
                if (item.Order < 5)
                {
                    <div class="card m-1">
                        <img src="@item.ProfilePath" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">@item.Name</h6>
                            <small class="card-text">@item.Character</small>
                        </div>
                    </div>
                }
            }
        </div>
        <hr />
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <span class="navbar-brand mb-0 h5">Social</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="#">Reviews</a>
                    <a class="nav-item nav-link" href="#">Discussions</a>
                </div>
            </div>
        </nav>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed augue turpis, auctor a arcu vitae, facilisis tristique erat. Ut maximus ex sed tincidunt viverra. Donec tristique, arcu eu rutrum iaculis, nulla leo accumsan lacus, et pellentesque urna ligula vitae eros. Nullam vitae molestie urna. Duis id tristique ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec efficitur, velit et sagittis rhoncus, ligula ante semper sem, ut malesuada libero diam id nisi. Fusce velit ligula, porttitor et bibendum nec, feugiat vitae augue. Proin eget eros eget mauris finibus tempor a sodales sem. Curabitur cursus mi a dolor elementum facilisis. Quisque id mattis arcu. In molestie, mi sed vestibulum aliquam, mi lacus placerat diam, ut pellentesque ex arcu nec dolor. Sed sed lectus neque. Cras gravida nulla maximus, viverra lectus eu, venenatis ipsum. Proin sollicitudin nunc ac odio blandit consequat.
        </p>
        <hr />
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <span class="navbar-brand mb-0 h5">Media</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="#">Most Popular</a>
                    <a class="nav-item nav-link" href="#">Videos</a>
                    <a class="nav-item nav-link" href="#">Backdrops</a>
                    <a class="nav-item nav-link" href="#">Posters</a>
                </div>
            </div>
        </nav>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed augue turpis, auctor a arcu vitae, facilisis tristique erat. Ut maximus ex sed tincidunt viverra. Donec tristique, arcu eu rutrum iaculis, nulla leo accumsan lacus, et pellentesque urna ligula vitae eros. Nullam vitae molestie urna. Duis id tristique ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec efficitur, velit et sagittis rhoncus, ligula ante semper sem, ut malesuada libero diam id nisi. Fusce velit ligula, porttitor et bibendum nec, feugiat vitae augue. Proin eget eros eget mauris finibus tempor a sodales sem. Curabitur cursus mi a dolor elementum facilisis. Quisque id mattis arcu. In molestie, mi sed vestibulum aliquam, mi lacus placerat diam, ut pellentesque ex arcu nec dolor. Sed sed lectus neque. Cras gravida nulla maximus, viverra lectus eu, venenatis ipsum. Proin sollicitudin nunc ac odio blandit consequat.
        </p>
        <hr />
        <form enctype="multipart/form-data" method="post" asp-controller="Movie" asp-action="Details">
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary" asp-route-id="@Model.Movie.Id" data-toggle="modal" data-target="#exampleModalCenter">Update</button>
                    <a asp-controller="Movie" asp-action="Index" class="btn btn-secondary">Back</a>
                </div>
            </div>
        </form>
    </div>
    <div class="col col-lg-3">
        <h6>Status</h6>
        <p>@Model.Movie.Status</p>
        <h6>Release Information</h6>
        <p>@Model.Movie.ReleaseDate?.ToString("dd-MM-yyyy")</p>
        <h6>Runtime</h6>
        <p>@Model.RuntimeTimeFormat</p>
        <h6>Budget</h6>
        <p>@Model.Movie.Budget?.ToString("C0", CultureInfo.CreateSpecificCulture("en-US"))</p>
        <h6>Revenue</h6>
        <p>@Model.Movie.Revenue?.ToString("C0", CultureInfo.CreateSpecificCulture("en-US"))</p>
        <h6>Genres</h6>
        @foreach (var item in @Model.Movie.Genre)
        {
            <button class="btn btn-outline-secondary m-1">@item.Name</button>
        }
        <h6>Website</h6>
        <p><a href="@Model.Movie.Website">@Model.Movie.Website</a></p>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="d-flex justify-content-center m-5">
                <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>



