@model MovieListViewModel
@{
    ViewData["Title"] = Model.PageTitle;
}

<form method="post">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search movie..." aria-label="Search movie..." aria-describedby="basic-addon2" asp-for="SearchQuery">
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </div>
    </div>
</form>

<div class="card-deck justify-content-center">
    @foreach (var movie in Model.Movies)
    {
        <div class="card m-2 border-0 shadow-lg roun" style="min-width: 540px;">
            <a asp-controller="Movie" asp-action="Details" asp-route-id="@movie.Id">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img class="card-img" src="@movie.PosterPath" asp-append-version="true" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="card-title">
                                <h5>@movie.Title</h5>
                                <span class="small text-muted">@movie.ReleaseDate?.ToString("dd-MM-yyyy")</span>
                            </div>
                            <p class="card-text">@movie.ShortenedPlot</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>