@model UserDetailsViewModel
@{
    ViewData["Title"] = "Details";
    var photoPath = $"~/img/profile/{@Model.User.ProfileImage ?? "noimage-face.png"}";
}

<div class="row m-4">
    <div class="col-3">
        <img class="card-img-top " src="@photoPath" asp-append-version="true" />
        <a type="submit" class="btn btn-primary btn-block mt-1" asp-action="Edit" asp-controller="User" asp-route-id="@Model.User.Id">Edit Profile</a>
    </div>
    <div class="col">
        <h3>Hello @Model.User.FirstName @Model.User.LastName, how are you doing today</h3>
        <hr/>
        <form>
            <div class="form-group row">
                <label asp-for="@Model.User.Username" class="col-sm-6 col-form-label font-weight-bold"></label>
                <div class="col-sm-6">
                    <input type="text" readonly class="form-control-plaintext" value="@Model.User.Username">
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="@Model.User.FirstName" class="col-sm-6 col-form-label font-weight-bold"></label>
                <div class="col-sm-6">
                    <input type="text" readonly class="form-control-plaintext" value="@Model.User.FirstName">
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="@Model.User.LastName" class="col-sm-6 col-form-label font-weight-bold"></label>
                <div class="col-sm-6">
                    <input type="text" readonly class="form-control-plaintext" value="@Model.User.LastName">
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="User.Genders" class="col-sm-6 col-form-label font-weight-bold"></label>
                <div class="col-sm-6">
                    <input asp-for="User.Genders" readonly class="form-control-plaintext" asp-items="Html.GetEnumSelectList<UserDto.Gender>()">
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="@Model.User.DateOfBirth" class="col-sm-6 col-form-label font-weight-bold">Date of birth</label>
                <div class="col-sm-6">
                    <input type="text" readonly class="form-control-plaintext" value="@Model.User.DateOfBirth.ToString("dd-MM-yyyy")">
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="@Model.User.Email" class="col-sm-6 col-form-label font-weight-bold"></label>
                <div class="col-sm-6">
                    <input type="text" readonly class="form-control-plaintext" value="@Model.User.Email">
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="@Model.User.Street" class="col-sm-6 col-form-label font-weight-bold"></label>
                <div class="col-sm-6">
                    <input type="text" readonly class="form-control-plaintext" value="@Model.User.Street">
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="@Model.User.Number" class="col-sm-6 col-form-label font-weight-bold"></label>
                <div class="col-sm-6">
                    <input type="text" readonly class="form-control-plaintext" value="@Model.User.Number">
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="@Model.User.PostalCode" class="col-sm-6 col-form-label font-weight-bold">Postal code</label>
                <div class="col-sm-6">
                    <input type="text" readonly class="form-control-plaintext" value="@Model.User.PostalCode">
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="@Model.User.DateOfRegistration" class="col-sm-6 col-form-label font-weight-bold">Date of registration</label>
                <div class="col-sm-6">
                    <input type="text" readonly class="form-control-plaintext" value="@Model.User.DateOfRegistration">
                </div>
            </div>
        </form>
    </div>
</div>